<h1>Ask your coach a question</h1>
<!--<form action="answer">
  <input type="text" name="question">
  <input type="submit" value="Ask a question!">
</form> -->
<h2><%= @question%></h2>
<h2><%= @answer%></h2>
